
      label {
        text-align: left;
      }
      input {
        padding: 5px 0 5px 0;
        outline: none;
        display: block;
        width: 100%;
      }
      input:hover {
        outline: none;
        border-bottom: 1px solid green;
      }
      input:focus {
        outline: none;
        border-bottom: 2px solid gray;
      }
